<?xml version="1.0"?>
<NumbWords>
  <!--<Node number="0" word=""/>-->
  <Node number="1" word="one"/>
  <Node number="2" word="two"/>
  <Node number="3" word="three"/>
  <Node number="4" word="four"/>
  <Node number="5" word="five"/>
  <Node number="6" word="six"/>
  <Node number="7" word="seven"/>
  <Node number="8" word="eight"/>
  <Node number="9" word="nine"/>
  <Node number="10" word="ten"/>
  <Node number="11" word="eleven"/>
  <Node number="12" word="twelve"/>
  <Node number="13" word="thirteen"/>
  <Node number="14" word="fourteen"/>
  <Node number="15" word="fifteen"/>
  <Node number="16" word="sixteen"/>
  <Node number="17" word="seventeen"/>
  <Node number="18" word="eighteen"/>
  <Node number="19" word="nineteen"/>
  <Node number="20" word="twenty"/>
  <Node number="30" word="thirty"/>
  <Node number="40" word="forty"/>
  <Node number="50" word="fifty"/>
  <Node number="60" word="sixty"/>
  <Node number="70" word="seventy"/>
  <Node number="80" word="eighty"/>
  <Node number="90" word="ninety"/>
</NumbWords>
